src/main/resources/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.integration.model.bndes.sippe.com.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.integration.model.bndes.sippe.com.br" targetNamespace="http://www.integration.model.bndes.sippe.com.br">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.integration.model.bndes.sippe.com.br" version="1.0">
            <xs:element name="RespostaAutorizacao" type="tns:RespostaAutorizacao"/>
            <xs:element name="RespostaCancelamento" type="tns:RespostaCancelamento"/>
            <xs:element name="RespostaCaptura" type="tns:RespostaCaptura"/>
            <xs:element name="RespostaConsulta" type="tns:RespostaConsulta"/>
            <xs:element name="RespostaDeteccaoDisponibilidade" type="tns:RespostaDeteccaoDisponibilidade"/>
            <xs:element name="RespostaErroSolicitacaoNaoIdentificada" type="tns:RespostaErroSolicitacaoNaoIdentificada"/>
            <xs:element name="RespostaTID" type="tns:RespostaTID"/>
            <xs:element name="SolicitacaoAutorizacao" type="tns:SolicitacaoAutorizacao"/>
            <xs:element name="SolicitacaoCancelamento" type="tns:SolicitacaoCancelamento"/>
            <xs:element name="SolicitacaoCaptura" type="tns:SolicitacaoCaptura"/>
            <xs:element name="SolicitacaoConsulta" type="tns:SolicitacaoConsulta"/>
            <xs:element name="SolicitacaoDeteccaoDisponibilidade" type="tns:SolicitacaoDeteccaoDisponibilidade"/>
            <xs:element name="SolicitacaoNaoIdentificada" type="tns:SolicitacaoNaoIdentificada"/>
            <xs:element name="SolicitacaoTID" type="tns:SolicitacaoTID"/>
            <xs:complexType name="SolicitacaoDeteccaoDisponibilidade">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="RespostaDeteccaoDisponibilidade">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SituacaoDisponibilidade" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SolicitacaoCancelamento">
                <xs:sequence>
                    <xs:element minOccurs="0" name="TID" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdentificacaoPedido" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoProduto" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroAfiliacao" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RespostaCancelamento">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CodigoRetorno" type="xs:int"/>
                    <xs:element minOccurs="0" name="MensagemRetorno" type="xs:string"/>
                    <xs:element minOccurs="0" name="TID" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdentificacaoPedido" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoProduto" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataHoraSolicitacaoCancelamento" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataHoraCancelamento" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataHoraRecusaCancelamento" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SolicitacaoTID">
                <xs:sequence>
                    <xs:element minOccurs="0" name="IdentificacaoPedido" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoProduto" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroAfiliacao" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RespostaTID">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CodigoRetorno" type="xs:int"/>
                    <xs:element minOccurs="0" name="MensagemRetorno" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdentificacaoPedido" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoProduto" type="xs:string"/>
                    <xs:element minOccurs="0" name="TID" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SolicitacaoAutorizacao">
                <xs:sequence>
                    <xs:element minOccurs="0" name="IdentificacaoPedido" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoProduto" type="xs:string"/>
                    <xs:element minOccurs="0" name="Valor" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroMoeda" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroCartao" type="xs:string"/>
                    <xs:element minOccurs="0" name="CodigoSeguranca" type="xs:string"/>
                    <xs:element minOccurs="0" name="Bandeira" type="xs:string"/>
                    <xs:element minOccurs="0" name="MesValidadeCartao" type="xs:string"/>
                    <xs:element minOccurs="0" name="AnoValidadeCartao" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoPessoaCompradora" type="xs:string"/>
                    <xs:element minOccurs="0" name="CICPessoaCompradora" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroAfiliacao" type="xs:string"/>
                    <xs:element minOccurs="0" name="QuantidadeParcelasAmortizacao" type="xs:int"/>
                    <xs:element minOccurs="0" name="PeriodicidadeAmortizacao" type="xs:int"/>
                    <xs:element minOccurs="0" name="ValorTaxaJurosAmortizacao" type="xs:string"/>
                    <xs:element minOccurs="0" name="QuantidadeParcelasCarencia" type="xs:int"/>
                    <xs:element minOccurs="0" name="PeriodicidadeCarencia" type="xs:int"/>
                    <xs:element minOccurs="0" name="ValorTaxaJurosCarencia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RespostaAutorizacao">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CodigoRetorno" type="xs:int"/>
                    <xs:element minOccurs="0" name="MensagemRetorno" type="xs:string"/>
                    <xs:element minOccurs="0" name="TID" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdentificacaoPedido" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoProduto" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroAutorizacao" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataHoraAutorizacao" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SolicitacaoConsulta">
                <xs:sequence>
                    <xs:element minOccurs="0" name="TID" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdentificacaoPedido" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoProduto" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroAfiliacao" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RespostaConsulta">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CodigoRetorno" type="xs:int"/>
                    <xs:element minOccurs="0" name="MensagemRetorno" type="xs:string"/>
                    <xs:element minOccurs="0" name="TID" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroAutorizacao" type="xs:string"/>
                    <xs:element minOccurs="0" name="Bandeira" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataHoraAutorizacao" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataHoraCaptura" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataHoraSolicitacaoCancelamento" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataHoraCancelamento" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DataHoraRecusaCancelamento" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="IdentificacaoPedido" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoProduto" type="xs:string"/>
                    <xs:element minOccurs="0" name="Valor" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroMoeda" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SolicitacaoCaptura">
                <xs:sequence>
                    <xs:element minOccurs="0" name="TID" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdentificacaoPedido" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoProduto" type="xs:string"/>
                    <xs:element minOccurs="0" name="NumeroAfiliacao" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RespostaCaptura">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CodigoRetorno" type="xs:int"/>
                    <xs:element minOccurs="0" name="MensagemRetorno" type="xs:string"/>
                    <xs:element minOccurs="0" name="TID" type="xs:string"/>
                    <xs:element minOccurs="0" name="IdentificacaoPedido" type="xs:string"/>
                    <xs:element minOccurs="0" name="TipoProduto" type="xs:string"/>
                    <xs:element minOccurs="0" name="DataHoraCaptura" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SolicitacaoNaoIdentificada">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="RespostaErroSolicitacaoNaoIdentificada">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CodigoRetorno" type="xs:int"/>
                    <xs:element minOccurs="0" name="MensagemRetorno" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:portType name="BndesPort">
    </wsdl:portType>
    <wsdl:binding name="BndesPortSoap11" type="tns:BndesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </wsdl:binding>
    <wsdl:service name="BndesPortService">
        <wsdl:port binding="tns:BndesPortSoap11" name="BndesPortSoap11">
            <soap:address location="http://localhost:8080/acquirer/bndes/api/v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>